@model IEnumerable<OrderForm.Models.Order>

@{
    ViewData["Title"] = "Список заказов";
}

<h2>Список заказов:</h2>
<table class="table">
    <thead>
        <th scope="col">Номер заказа</th>
        <th scope="col">Город отправителя</th>
        <th scope="col">Адрес отправителя</th>
        <th scope="col">Город получателя</th>
        <th scope="col">Адрес получателя</th>
        <th scope="col">Вес груза</th>
        <th scope="col">Дата забора груза</th>
        <th scope="col"></th>
    </thead>
    @foreach (var order in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(m => order.SenderCity)
            </td>
            <td>
                @Html.DisplayFor(m => order.SenderAddress)
            </td>
            <td>
                @Html.DisplayFor(m => order.ReceiverCity)
            </td>
            <td>
                @Html.DisplayFor(m => order.ReceiverAddress)
            </td>
            <td>
                @Html.DisplayFor(m => order.Weight)
            </td>
            <td>
                @Html.DisplayFor(m => order.Date)
            </td>
            <td>
                <form asp-controller="Orders" asp-action="Delete" asp-route-id="@order.Id" method="post">
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="X" />
                    </div>
                </form>
            </td>
        </tr>
    }
</table>
